<!doctype html>
<html ng-app="myApp" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:srchref="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:srchref="@{/css/style.css"}>
    <script th:src="@{/css/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/css/popper.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>
<script th:src="@{/js/lib/angular.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/controllers/facturaControllers.js}"></script>
<body style="background: white;">
<div class="container" style="margin-top: 5px; border: 1px solid black; background: white;">
    <div class="cell">
        <div class="cabecera">
            <div class="cell">
                <div id="titulo">Factura Electronica</div>
                <div class="row" style="padding: 0px; margin-top: 10px;">
                    <div class="cell" style="text-align: right;">
                        <button type="button" class="btn btn-primary" ng-click="nuevaFactura()">NUEVA FACTURA</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenido">
            <div class="cell">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Fecha</span>
                    </div>
                    <input class="form-control" type="date" ng-model="factura.fecha" min="{{fechaMinimaFactura}}" ng-disabled="facturaEnviada">
                </div>
            </div>
            <div class="cell">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Tipo Comprobante</label>
                    </div>
                    <select class="custom-select" ng-model="factura.tipoComprobante" ng-change="actualizarComprobante()" ng-disabled="facturaEnviada">
                        <option selected disabled></option>
                        <option ng-repeat="comprobante in comprobantes" value="{{comprobante.value}}">{{comprobante.name}}</option>
                    </select>
                </div>
            </div>
            <div class="cell">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Punto de Venta</label>
                    </div>
                    <select class="custom-select" ng-model="factura.puntoVenta" ng-disabled="facturaEnviada">
                        <option selected disabled></option>
                        <option ng-repeat="ptoVenta in ptoVentas" value="{{ptoVenta.value}}">{{ptoVenta.name}}</option>
                    </select>
                </div>
            </div>
            <div class="cell">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Nro Comp</span>
                    </div>
                    <input type="text" class="form-control" disabled>
                </div>
            </div>
        </div>
        <div class="contenido">
            <div class="cell">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Sindicato</span>
                    </div>
                    <input type="text" class="form-control" ng-model="factura.puntoVenta" ng-disabled="facturaEnviada">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#buscarSindicatoModal" ng-click="buscarSindicatoModal()" ng-disabled="facturaEnviada">Buscar</button>
                    </div>
                    <input type="text" class="form-control" value="{{sindicatoNombre}}" disabled>
                </div>
            </div>
            <div class="cell">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Afiliado</span>
                    </div>
                    <input type="text" class="form-control" ng-model="factura.afiliado" ng-change="buscarAfiliadoInput()" ng-disabled="afiliadoDeshabilitado || facturaEnviada">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#buscarAfiliadoModal" ng-click="buscarAfiliadoModal()" ng-disabled="afiliadoDeshabilitado || facturaEnviada">Buscar</button>
                    </div>
                    <input type="text" class="form-control" value="{{afiliadoNombre}}" disabled>
                </div>
                <div class="cell">
                    <div class="cell">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Mail">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenido">
            <div class="cell" style="min-width: 340px;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Situación IVA</label>
                    </div>
                    <select class="custom-select" ng-model="factura.situacionIVA" ng-disabled="facturaEnviada">
                        <option selected disabled></option>
                        <option ng-repeat="situacion in situacionesIva" value="{{situacion.value}}">{{situacion.name}}</option>
                    </select>
                </div>
            </div>
            <div class="cell" style="min-width: 340px;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Condicion Venta</label>
                    </div>
                    <select class="custom-select" ng-model="factura.condicionVenta" ng-disabled="facturaEnviada">
                        <option selected disabled></option>
                        <option ng-repeat="condicion in condicionesVenta" value="{{condicion.value}}">{{condicion.name}}</option>
                    </select>
                </div>
            </div>
            <div class="cell">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Bonificación</span>
                    </div>
                    <input type="number" class="form-control" ng-model="factura.bonificacion" ng-change="actualizarDescuento()" ng-disabled="facturaEnviada">
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
            <div class="cell" style="max-width: 185px;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Lista Precio</label>
                    </div>
                    <select class="custom-select" ng-model="factura.listaPrecio" ng-disabled="listaPreciosDeshabilitada || facturaEnviada">
                        <option selected disabled></option>
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="contenido">
            <div class="cell">
                <div class="row" style="padding-bottom: 0px; table-responsive-sm">
                    <table class="table table-hover table-striped table-sm" style="margin-bottom: 0px;">
                        <caption></caption>
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" style="width: 100px;">Fecha</th>
                            <th scope="col" style="width: 100px;">Codigo</th>
                            <th scope="col">Descripción</th>
                            <th scope="col" style="width: 100px;">Cantidad</th>
                            <th scope="col" style="width: 130px;">Precio Unitario</th>
                            <th scope="col" style="width: 100px;">Total</th>
                            <th scope="col" style="width: 120px;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="articulo in articulos">
                            <td>{{articulo.fecha}}</td>
                            <td>{{articulo.codigo}}</td>
                            <td>{{articulo.descripcion}}</td>
                            <td>{{articulo.cantidad}}</td>
                            <td>{{articulo.precio}}</td>
                            <td>{{articulo.total}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#editarProductoModal" ng-click="editarArticulo(articulo.id)" ng-disabled="facturaEnviada">
                                    <img src="https://image.flaticon.com/icons/png/512/212/212218.png" class="img-fluid" alt="Responsive image" style="width: 20px">
                                </button>
                                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#removerProductoModal" ng-click="borrarArticulo(articulo.id)" ng-disabled="facturaEnviada">
                                    <img src="https://www.clker.com/cliparts/4/7/F/F/w/I/trash-red.svg.med.png" class="img-fluid" alt="Responsive image" style="width: 20px">
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" style="padding: 0px;">
                    <div class="cell" style="text-align: center;">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#buscarProductoModal" ng-click="buscarProductoModal()" ng-disabled="facturaEnviada">
                            <img src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/add-circle-blue-512.png" class="img-fluid" alt="Responsive image" style="width: 30px">
                        </button>
                    </div>
                </div>
                <div class="row" style="padding: 0px 10px;">
                    <div class="cell" style="padding: 0px 5px;">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 100px;">Subtotal</span>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="text" class="form-control" value="{{totales.subtotal}}" disabled>
                        </div>
                    </div>
                    <div class="cell" style="padding: 0px 5px;">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 100px;">Descuento</span>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="text" class="form-control" value="{{totales.descuento}}" disabled>
                        </div>
                    </div>
                    <div class="cell" style="padding: 0px 5px;">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 100px; font-weight:bold;">Total</span>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text" style="font-weight:bold;">$</span>
                            </div>
                            <input type="text" class="form-control" style="font-weight:bold;" value="{{totales.total}}" disabled>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 0px;">
                    <div class="cell">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Leyenda</span>
                            </div>
                            <input type="text" class="form-control" value="{{leyenda}}" ng-disabled="facturaEnviada">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenido">
            <div class="cell" style="text-align: center;">
                <button type="button" class="btn btn-success" style="width: 800px" ng-click="enviar()" ng-disabled="facturaEnviada">SOLICITAR CAE</button>
            </div>
        </div>
        <div class="contenido">
            <div class="cell" style="text-align: center;">
                <img src="https://thumbs.gfycat.com/ObviousQuarrelsomeIntermediateegret.webp" style="width: : 30px; height: 30px;">
            </div>
        </div>
        <div class="contenido">
            <div class="cell">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">CAE</span>
                    </div>
                    <input type="text" class="form-control" value="{{caeNumero}}" disabled>
                </div>
            </div>
            <div class="cell">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Vto. CAE</span>
                    </div>
                    <input type="text" class="form-control" value="{{caeVto}}" disabled>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="buscarSindicatoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sindicatos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-success">Buscar</button>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 0px; table-responsive-sm">
                    <table class="table table-hover table-striped table-sm" style="margin-bottom: 0px;">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" style="width: 100px;">Codigo</th>
                            <th scope="col">Nombre</th>
                            <th style="width: 60px"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="sindicato in sindicatos">
                            <td>{{sindicato.value}}</td>
                            <td>{{sindicato.name}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-sm" ng-click="seleccionSindicato(sindicato.value, sindicato.name, sindicato.cuit)">
                                    <img src="https://www.freeiconspng.com/uploads/blue-tick-icon-1.png" class="img-fluid" alt="Responsive image" style="width: 20px">
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="buscarAfiliadoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Afiliados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-success">Buscar</button>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 0px; table-responsive-sm">
                    <table class="table table-hover table-striped table-sm" style="margin-bottom: 0px;">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" style="width: 100px;">Nro IOMA</th>
                            <th scope="col">Barra</th>
                            <th scope="col" style="width: 200px">Nombre</th>
                            <th scope="col">Cod. Familia</th>
                            <th scope="col">Nro. Documento</th>
                            <th scope="col">Bloqueo</th>
                            <th style="width: 60px"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="afiliado in afiliados">
                            <td>{{afiliado.ioma}}</td>
                            <td>{{afiliado.barra}}</td>
                            <td>{{afiliado.name}}</td>
                            <td>{{afiliado.familia}}</td>
                            <td>{{afiliado.dni}}</td>
                            <td>{{afiliado.bloqueado}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary btn-sm" ng-click="seleccionAfiliado(afiliado.value, afiliado.name, afiliado.dni)">
                                    <img src="https://www.freeiconspng.com/uploads/blue-tick-icon-1.png" class="img-fluid" alt="Responsive image" style="width: 20px">
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="buscarProductoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Productos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="cell">
                    <div class="contenido">
                        <div class="cell">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-success">Buscar</button>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 0px; table-responsive-sm">
                                <table class="table table-hover table-striped table-sm" style="margin-bottom: 0px;">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col" style="width: 100px;">Codigo</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col" style="width: 60px">Stock</th>
                                        <th style="width: 60px"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="producto in productos">
                                        <td>{{producto.value}}</td>
                                        <td>{{producto.name}}</td>
                                        <td>{{producto.stock}}</td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#editarProductoModal" ng-disabled="producto.stock==0" ng-click="seleccionProducto(producto.value, producto.name, producto.precioA, producto.precioB, producto.precioC, producto.stock)">
                                                <img src="https://www.freeiconspng.com/uploads/blue-tick-icon-1.png" class="img-fluid" alt="Responsive image" style="width: 20px">
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editarProductoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="cell">
                    <div class="contenido">
                        <div class="cell">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Fecha</span>
                                </div>
                                <input class="form-control" type="date">
                            </div>
                        </div>
                        <div class="cell">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Codigo</span>
                                </div>
                                <input type="text" class="form-control" value="101" disabled>
                            </div>
                        </div>
                        <div class="cell">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Descripción</span>
                                </div>
                                <input type="text" class="form-control" value="Smart TV" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="contenido">
                        <div class="cell">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Cantidad</span>
                                </div>
                                <input type="number" class="form-control" value="1">
                            </div>
                        </div>
                        <div class="cell">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Precio Unitario</span>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control">
                            </div>
                        </div>
                        <div class="cell">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Total</span>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="removerProductoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remover Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Si</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>
</body>
<html>